<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ocean Corp</title>
        <link rel="icon" type="image/x-icon" href="{{host}}/image/utils/favicon.ico" />
        {{!-- Hojas de estilo --}}
        <link rel="stylesheet" type="text/css" media="screen" href="{{host}}/css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{host}}/css/header.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{host}}/css/footer.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{host}}/css/index.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{host}}/css/registro.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{host}}/css/cuenta.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{host}}/css/productos.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{host}}/css/servicios.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{host}}/css/favo-pedi.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{host}}/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{host}}/css/all.css" />
        {{!-- Fuentes de Google Fonts --}}
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet" />
        {{!-- Scripts de Bootstrap porque por alguna razón falla en local --}}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        {{!-- Funciones para diseño y JavaScript --}}
        <script src="{{host}}/js/Class/ApiRest.js"></script>
        <script src="{{host}}/js/Class/componets.js"></script>
        <script src="{{host}}/js/Class/timeago.min.js"></script>
        <script src="{{host}}/js/Class/axios.min.js"></script>
    </head>
    <body class="container-fluid">
        {{!-- CABECERA --}}
    
        {{> header}}

        {{> Login-Messages}}
        {{{ body }}}

        {{!-- PIE --}}
   
        {{> footer}}

        {{!-- JavaCript --}}
        <script src="{{host}}/js/main.js"></script>
    </body>
</html>